.picture img {
  width: 260px;
  height: 340px;
  border: 1px solid #b0b0b0;
  padding: 3px;
}

a:hover {
  cursor:pointer;
}

#topBar {
  p {
    a {
      color: #AAA;
      text-decoration: underline;
    }

    a:hover {
      color: #FFF;
    }
  }
}

#mainContainer {
  margin-top: 60px;

  form {
    width: 475px;

    .help-block {
      margin-bottom: 10px;
    }
  }
}
