extends ../../main/tpl/block/base

block title
  | Авторизация

block content
  form#signInForm.form-horizontal(novalidate)

    div.control-group
      label.control-label Логин
      div.controls
        span.help-block(data-error='required')
          | Введите логин, который вы вводили при регистрации
        input.input-xlarge(name='login', placeholder='Логин', required, type="text")

    div.control-group
      label.control-label Пароль
      div.controls
        span.help-block(data-error='required')
          | Введите пароль, который вы вводили при регистрации
        input.input-xlarge(name='password', placeholder='Пароль', required,
            type="password")

    div.control-group
      div.controls
        button.btn(data-action='signIn') Войти
        a.btn.btn-link(href='/sign-up')  Регистрация

