extends ../../main/tpl/block/base

block title
  | Регистрация

block content
  p: strong Все поля являются обязательными для заполнения.
  form#signUpForm.form-horizontal(novalidate)
    div#alerts

    div.control-group
      label.control-label Логин
      div.controls
        span.help-block(data-error='required')
            | Введите логин, который вы будете использовать для авторизации
        input.input-xlarge(name='login', placeholder='Логин', required, type="text")

    div.control-group
      label.control-label(for='name') Имя
      div.controls
        span.help-block(data-for='name', data-error='required')
            | Представьтесь, как вас зовут
        input.input-xlarge(name='name', placeholder='Имя', required, type="text")

    div.control-group
      label.control-label Пароль
      div.controls
        span.help-block(data-error='required')
            | Введите пароль, который вы будете использовать для авторизации
        input.input-xlarge(name='password', placeholder='Пароль', required,
            type="password")

    div.control-group
      label.control-label Повторите пароль
      div.controls
        span.help-block(data-error='required')
            | Подтвердите пароль
        span.help-block( data-error='repeatPassword')
            | Введенные пароли не совпадают. Пожалуйста, попробуйте снова
        input.input-xlarge(name='repeatPassword', placeholder='Повторите пароль',
            required, type="password")

    div.control-group
      label.control-label Почта
      div.controls
        span.help-block(data-error='required')
            | Введите почту, к которой будет привязан ваш аккаунт
        input.input-xlarge(name='email', placeholder='Почта', required, type="text")

    div.control-group
      div.controls
        button.btn(data-action='signUp') Присоединиться
