{% extends 'base.twig' %}

{% block title %}
   Регистрация
{% endblock %}

{% block content %}
   <p>Все поля являются обязательными для заполнения.</p>
   <table id="signUpForm">
      <tr>
         <td class="label">Логин:
         <td><input class="login">
            <tr>
               <td class="label">Реальное имя:
               <td><input class="name">

                  <tr>
                     <td class="label">Пароль:
                     <td><input type="password" class="password">
      <tr>
         <td class="label">Повторите пароль:
         <td><input type="password" class="passwordRepeat">
      </tr>
      <tr>
         <td class="label">Эл. почта:
         <td><input class="eMail">
      <tr>
         <td>
         <td><div style="text-align: right">
               <a href="/signUp" class="button signUp" style="font-size: 16px; line-height: 25px">Присоединиться</a>
            </div>
      </tr>
   </table>
{% endblock %}
