<ul class="nav">
  <% menuItems.forEach(function (item) { %>
    <li><a href="<%= item.href %>"
           <% if (item.action) { %>data-action="<%= item.action %>"<% }
      %>>
        <%= item.label %></a></li>
  <% }) %>
</ul>