<div  id="topBar">
  <div class="navbar-inner">
    <div class="container-fluid"><a class="brand" href="/">Pics-gallery</a>

      <div class="nav-collapse collapse"><p class="navbar-text pull-right">Добро пожаловать, &nbsp;
        <a href="<%= profileUrl %>"><%= userName %></a></p>

        <ul class="nav"></ul>

      </div>
    </div>
  </div>
</div>
