doctype html

html(ng-app="app")
  meta(http-equiv="Content-Type", content="text/html", charset="utf-8")

  script(src="/js/lib/jquery.js")
  script(src="/bootstrap/js/bootstrap.js")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")

  - for (var i = 0; i < scripts.length; i++) {
    script(src=scripts[i])
  - }

  - for (var i = 0; i < styles.length; i++) {
    link(rel="stylesheet", href=styles[i])
  - }

  title #{title}


body(ng-controller='MainCtrl')

  include topBar

  div#mainContainer.container
    div.row
      if existsLeftBar
        div.span3
          block leftBar

        div.span9
          h1: block title
          block content
      else
        div.span12
          h1: block title
          block content

  div#dataBlock
    - for (var key in args) {
      div(ng-model='args.' + key) =args[key]
    - }
