doctype html

html(ng-app="app")
  meta(http-equiv="Content-Type", content="text/html", charset="utf-8")

  script(src="/js/lib/jquery.js")
  script(src="/bootstrap/js/bootstrap.js")
  link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")

  - for (var i = 0; i < scripts.length; i++) {
    script(src=scripts[i])
  - }

  - for (var i = 0; i < styles.length; i++) {
    link(rel="stylesheet", href=styles[i])
  - }

  title #{title}


body(ng-controller='MainCtrl')

  include topBar

  div#mainContainer.container
    div.row
      if existsLeftBar
        div.span3
          block leftBar

        div.span9
          h1: block title
          block content
      else
        div.span12
          h1: block title
          block content

  div#dataBlock
    - for (var key in args) {
      div(ng-model='args.' + key) =args[key]
    - }

| <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23870407 = new Ya.Metrika({id:23870407, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23870407" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->