doctype html
html

head
  meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
  script(src=script)
  link(rel="stylesheet", href=style)
  title Аукцион картин


body: div#wrapper

  include header

  div#main
    div#leftBar
      include ../../../user/tpl/block/leftBlock
      block leftBar
    div#content
    h2
      block title
      block content

  include footer
