div#topBar.navbar.navbar-inverse.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.brand(href='/') Pics-gallery
      div.nav-collapse.collapse
        - if (user)
          p.navbar-text.pull-right
            | Добро пожаловать,&nbsp;
            a(href='/user/' + user.id) #{user.login}
        - else
          p.navbar-text.pull-right
            | Добро пожаловать,&nbsp;
            a(href='/sign-up') Гость
        ul.nav
          - if (!user)
            li: a(href='/sign-in') Войти
            li: a(href='/sign-up') Присоединиться
          - else
            - if (user.hasRole('pointer') || user.isSuper())
              li: a(href='/picture/add') Добавить картину
            li: a(data-action='signOut') Выйти
