<div id="loginForm">
   {% if not user %}
      <table>
         <tr>
            <td>Логин:
            <td><input class="login">
         <tr>
            <td>Пароль:
            <td><input type="password" class="password" style="margin-top: 4px;">
      </table>
      <div class="buttons">
         <a href="/signIn" class="button signIn" style="margin-right: 10px;">Войти</a>
         <a href="/signUp" class="button signUp">Присоединиться</a>
      </div>
   {% else %}
      <div class="menu">
         <a href="/" class="button">Главная</a>
         <a href="/user/pictures" class="button">Мои картины</a>
         <a href="/picture/add" class="button">Добавить картину</a>
         <a href="/signOut" class="button signOut">Выйти</a>
      </div>
   {% endif %}
</div>
