<div class="block__pictureList">
  <ul class="thumbnails">
    <% pictures.forEach(function (picture) { %>
    <li class="thumbnail">
      <img src="<%= picture.url %>" alt="<%= picture.title %>">
    </li>
    <% }); %>
  </ul>
</div>
