extends ../../main/tpl/block/base

block title
  | Добавить картину

block content
  p: strong Обязательные поля отмечены звездочкой.
  form#addPictureForm.form-horizontal(novalidate)
    div#alerts

    div.control-group
      label.control-label Название*:
      div.controls
        span.help-block(data-error='required')
          | Введите название картины
        input.input-xlarge(name='title', type='text',
            placeholder='Заголовок', required)

    div.control-group
      label.control-label Источник*:
      div.controls
        span.help-block(data-error='required')
          | Выберите файл изображения картины
        input.input-xlarge(name='file', type='file', required)
        img

    div.control-group
      label.control-label Описание:
      div.controls
        textarea.input-xlarge(name='description')

    div.control-group
      div.controls
        button.btn(data-action='addPicture') Добавить
