{% extends '../../main/tpl/block/base.twig' %}

{% block title %}
  Редактировать картину
{% endblock %}

{% block content %}
  <p>Обязательные поля отмечены звездочкой.</p>
  <form id="pictureEditForm" method="POST" enctype="multipart/form-data">
    <table>
      <tr>
        <td class="label">Название<span class="required">*</span>:
        <td><input name="title" value="{{ title }}">
      </tr>
      <tr>
        <td class="label">Описание:
        <td><input name="description"
                   value="{{ description }}">
      </tr>
      <tr>
        <td>
        <td>
          <div style="text-align: right">

            <a href="/picture/{{ id }}/edit" id="editPictureButton"
               class="button"
               style="font-size:
             16px; line-height: 25px">Сохранить</a><br>

            <a href="/picture/{{ id }}/delete" id="deletePictureButton"
               class="button"
               style="font-size: 16px; line-height: 25px">Удалить</a>

          </div>
      </tr>
    </table>
  </form>
{% endblock %}
