extends ../../main/tpl/block/base

block title
  =title

block content
  ul.thumbnails
    - for (var index in pictures) {
    - var picture = pictures[index];
      li.span3
        a.thumbnail(href=picture.url) #{picture.title}
          img(src=picture.src)
    - }
