extends ../../main/tpl/block/base

block title
  =title

block content
  ul.thumbnails
    - for (var index in pictures) {
    - var picture = pictures[index];
      li.span2
        a.thumbnail(href=picture.url) #{picture.title}
          img(src=picture.src)
        p
          | Автор:&nbsp;
          strong: a(href='/user/' + picture.user.id) #{picture.user.login}
    - }
